/* Method to declare your own fonts */
@font-face {
   font-family: cocaColaFont;
   src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}

@font-face {
   font-family: OpenSans;
   src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
   font-family: Oswald;
   src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}



article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* Some simple CSS rules for styling p, h1 to h6, etc. in the main content’s container */
/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

html,body {
   height: 100%;
   width: 100%;
   font-family: OpenSans;
   color: #222;
}
.navbar {
   padding: .8rem;
}
.bgred{
   background: #F40009;
}

.navbar-nav li{
   padding-right: 20px;
   color: white;
}
.nav-link {
   font -size: 1.1em !important;
}
/* CSS rule to style the mobile logo */
.logo {
margin-top: 3px;
}

.logo h1 {
font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
font-size: 31px;
margin: 0;
margin-top: -10px;
margin-bottom: -15px;
float: left;
padding-top: 0px;
padding-left: 0px;
padding-right: 2px;
}

.logo h2 {
font-family: cocaColaFont;
font-size: 31px;
margin-top: -6px;
margin-bottom: -15px;
padding-top: 0px;
padding-left: 0px;
padding-right: 3px;
float: left;
}

.logo h3 {
font-size: 18px;
margin-top: 0px;
margin-bottom: -5px;
padding-top: 0px;
padding-left: 0px;
float: left;
}

.logo p {
font-size: 7px; /* You may have to tweak this to get a good fit */
margin-top: 22px; /* You may have to tweak this to get a good fit */
margin-bottom: 0px;
padding-top: 0px;
padding-left: 3px;
}

.carousel-inner img{
   width: 100%;
   height: 100%;
}


/*---Media Queries --*/
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}
